/**
 * Spentotal theme
 *
 * 
 */
.copertina {
  background-color: transparent !important; }
  .copertina span {
    display: block;
    text-align: left; }
  .copertina .university {
    font-size: 10px; }
  .copertina .school {
    font-size: 10px; }
  .copertina .degree {
    font-size: 10px; }
  .copertina .title {
    font-size: 21px; }
  .copertina .subtitle {
    font-size: 18px; }
  .copertina .supervisor {
    font-size: 14px; }
  .copertina .author {
    font-size: 14px; }
  .copertina .register {
    font-size: 13px; }
  .copertina .year {
    font-size: 10px; }
