/**
 * Spentotal theme
 *
 * 
 */



.copertina{
	background-color: transparent !important;



	span{
		display: block;
		text-align: left;
	}
	
	.university{
		font-size: 10px;
	}

	.school{
		font-size: 10px;
	}

	.degree{
		font-size: 10px;
	}

	.title{
		font-size: 21px;
	}

	.subtitle{
		font-size: 18px;
	}

	.supervisor{
		font-size: 14px;
	}

	.author{
		font-size: 14px;
	}

	.register{
		font-size: 13px;
	}

	.year{
		font-size: 10px;
	}

}

























