<section>
	<h2>analisi dei requisiti</h2>
	
	<i class="fa"></i>

</section>

<section>

   <h2>scopo a</h2>

   <h3>rappresentare e comunicare il processo di progettazione della user experience</h3>

   <h3>rendere più agevoli e veloci i processi di generazione della documentazione</h3>

   <h3>coinvolgere  gli attori che sono determinati nella progettazione della user experience</h3>

</section>

<section>

   <h2>scopo b</h2>

   <h3>facilitare la condivisione delle informazioni fra gli attori coinvolti </h3>

   <h3>dare supporto alla gestione delle attività</h3>

</section>

<section>
	
	<h2>target e obiettivi</h2>

	<h3>platea di utenti diversificata </h3>

	<div class="steps">
		<i class="fa"></i>
		<h5>Designer</h5>
		<h6>realizzare documentazione di progetto</h6>
		<h6>velocizzare il flusso di produzione della documentazione</h6>
	</div>

	<div class="steps">
		<i class="fa"></i>
		<h5>Sviluppatore</h5>
		<h6>visualizzare la documentazione</h6>
		<h6>accesso rapido e aggiornato alle informazioni</h6>
	</div>

    <div class="steps">
		<i class="fa"></i>
		<h5>Project Manager</h5>
		<h6>accesso rapido e aggiornato alle informazioni</h6>
		<h6>avere gli strumenti per valutare e programmare le risorse necessarie per lo sviluppo del progetto</h6>
	</div>  
     
</section>