<section class="copertina"
 		 data-background="assets/img/copertina.png"
 		 >
 		 
	<!-- 

		<span class="university">POLITECNICO DI MILANO</span>
		<span class="school">Scuola del Design</span> 

		<span class="degree">Laurea Magistrale in Design della Comunicazione</span>
		
		<span class="title">UXchange FW</span> 

		<span class="subtitle">piattaforma online per un approccio partecipato alla progettazione della User Experience</span>

		<span class="supervisor">relatore: prof. Umberto Tolino</span>

		<span class="author">Leonardo Demurtas</span>
		<span class="register">749740</span>

		<span class="year">AA 2012/13</span>

	 -->	

</section>