<section>
	<h2>design: la piattaforma</h2>
	

	UXchange FW - logo

</section>

<section>
	<h2>design: la piattaforma</h2>
	<h3>architettura</h3>
	{ schema }

	
	<aside class="notes">
       	area dei progetti
		moduli di deliverable
		editing e visualizzazione
		interazione fra gli utenti 
		monitoraggio

        Possiamo distinguere nella piattaforma da un punto di vista logico 5 aree con peculiarità e fini differenti.
       
        Sono degli insiemi che si sovrappongo durante i flussi di lavoro nell’applicazione
    </aside>
</section>

<section>
	<h2>area progetti</h2>
</section>

<section>
	<h2>moduli di deliverable</h2>
	<div class="steps">
		<i class="fa"></i>
		<h5>personas</h5>
	</div>

	<div class="steps">
		<i class="fa"></i>
		<h5>tasks model</h5>
	</div>

    <div class="steps">
		<i class="fa"></i>
		<h5>user journey</h5>
	</div> 

	<div class="steps">
		<i class="fa"></i>
		<h5>contents requirements</h5>
	</div>   

    <div class="steps">
		<i class="fa"></i>
		<h5>sitemap</h5>
	</div>  

    <div class="steps">
		<i class="fa"></i>
		<h5>wireframes</h5>
	</div>  

    <div class="steps">
		<i class="fa"></i>
		<h5>usability test report</h5>
	</div>  

    <div class="steps">
		<i class="fa"></i>
		<h5>funnel diagrams</h5>
	</div>  
</section> 

<section>
	<h2>editing e visualizzazione</h2>

      * editing
      * repo
</section>

<section>
	<h2>interazione fra gli utenti </h2>

      * note
      * messaggi
      * notifiche
</section>

<section>
	<h2>monitoraggio </h2>

      * bacheche 
      * dashboard
      * notifiche
      * messaggi
</section>
