<section data-transition="cube" data-background="white">
	<h2 class="title-slide">DOMINIO</h2>
	<img src="assets/img/b.dominio_s02.png">
</section>

<section data-transition="fade" data-background="#E1DDD6" >
	<h2 class="title-slide">DOMINIO</h2>
	<img src="assets/img/b.dominio_s03.png">
</section>

