 <section>
	<img src="assets/img/int_progettuale_a.png">
</section>

<section>
	<img src="assets/img/int_progettuale_b.png">
</section>

<section>
	<img src="assets/img/int_progettuale_c.png">
</section>

<section>
	<img src="assets/img/int_progettuale_d.png">
</section>

<section>
	<img src="assets/img/int_progettuale_e.png">
</section>

<section>
	<img src="assets/img/int_progettuale_f.png">
</section>

<section>
	<img src="assets/img/int_progettuale_g.png">
</section>





<!--
 <section>
	<h2>intervento progettuale</h2>

	<div class="steps">
		<i class="fa"></i>
		<h6>concept</h6>
	</div>

	<div class="steps">
		<i class="fa"></i>
		<h6>ricerca rappresentare la ux</h6>
	</div>

	<div class="steps">
		<i class="fa"></i>
		<h6>ricerca stato dell'arte</h6>
	</div>

	<div class="steps">
		<i class="fa"></i>
		<h6>analisi dei requisiti</h6>
	</div>

	<div class="steps">
		<i class="fa"></i>
		<h6>design</h6>
	</div>

	<div class="steps">
		<i class="fa"></i>
		<h6>prptotyping</h6>
	</div>

	<div class="steps">
		<i class="fa"></i>
		<h6>testing</h6>
	</div>

</section>
 -->

