<section data-transition="fade" data-background="white" >
	<h2 class="title-slide">RICERCA DELIVERABLE</h2>
	<img src="assets/img/g.deliverable_s01.png">
</section>	

<section data-transition="cube" data-background="assets/img/g.deliverable_s02.png">
	<h2 class="title-slide">DOMINIO</h2>
	<!-- <img src="assets/img/g.deliverable_s02.png"> -->
</section>

<section data-transition="fade" data-background="#A0D468" >
	<h2 class="title-slide">DOMINIO</h2>
	<img src="assets/img/g.deliverable_s03.png">
</section>

