<section data-transition="cube" data-background="white">
	<h2 class="title-slide">DOMINIO</h2>
	<img src="assets/img/f.stato-arte_s02.png">
</section>

<section data-transition="fade" data-background="assets/img/f.stato-arte_s03.png" >
	<h2 class="title-slide">DOMINIO</h2>
	<!-- <img src="assets/img/f.stato-arte_s03.png"> -->
</section>