<section>
	<h2>testing: verifica dei risultati</h2>
	

</section>

<section>
	<h2>MiLE +</h2>
	<h3>metodo MIlano-Lugano Evaluation</h3>

	<h4>sviluppato in collaborazione dal Politecnico di Milano e Università di Lugano</h4>

	<h4>framework di valutazione dell’usabilità experience-based per applicazioni web </h4>

	<h4>due misurazioni diverse e si distingue in due fasi con output diversi</h4>

</section>



<section>
	<h2>technical Inspection</h2>
	<var>7</var>

	<div class="steps">
		{ grafico spider // http://www.chartjs.org/ }
		<h5>contenuti</h5>
		<var>7</var>
	</div>

	<div class="steps">
		{ grafico spider // http://www.chartjs.org/ }
		<h5>navigazione</h5>
		<var>7</var>
	</div>

	<div class="steps">
		{ grafico spider // http://www.chartjs.org/ }
		<h5>aspetti semiotici </h5>
		<var>7</var>
	</div>

	<div class="steps">
		{ grafico spider // http://www.chartjs.org/ }
		<h5>aspetti cognitivi</h5>
		<var>7</var>
	</div>

	<div class="steps">
		{ grafico spider // http://www.chartjs.org/ }
		<h5>aspetti grafici</h5>
		<var>7</var>
	</div>

</section> 

<section>
	<h2>technical Inspection</h2>
	<var>6</var>

	<div class="steps">
		{ grafico spider // http://www.chartjs.org/ }
		<h5>interazione dell’utente con il contenuto</h5>
		<var>7</var>
	</div>

	<div class="steps">
		{ grafico spider // http://www.chartjs.org/ }
		<h5>funzionamento della navigazione</h5>
		<var>7</var>
	</div>

	<div class="steps">
		{ grafico spider // http://www.chartjs.org/ }
		<h5>apprezzamento e soddisfazione </h5>
		<var>7</var>
	</div>

</section> 





