  <section data-transition="cube" data-background="#E1DDD6" >
      <h2 class="title-slide">USER EXPERIENCE</h2>
      <img src="assets/img/c.user-experience_s01.png">
    </section>   

    <section data-transition="cube" data-background="#E1DDD6" >
      <h2 class="title-slide">USER EXPERIENCE</h2>
      <img src="assets/img/c.user-experience_s02.png">
    </section> 

    <section data-transition="cube" data-background="#E1DDD6" >
      <h2 class="title-slide">USER EXPERIENCE</h2>
      <img src="assets/img/c.user-experience_s03.png">
    </section> 

    <section data-transition="cube" data-background="#E1DDD6" >
      <h2 class="title-slide">USER EXPERIENCE</h2>
      <img src="assets/img/c.user-experience_s04.png">
 
      <aside class="notes">
        La User Experience è una materia complessa composta da discipline molto diverse fra loro. Progettare la user experience vuol dire capire quali sono i requisiti che un sistema deve soddisfare, capire come questo è articolato, capire come l’utente lo utilizza, in che modo e con quali risultati 
      </aside>
    </section> 



